In [4]:
import pandas as pd
import numpy as np
import pprint

In [5]:
data = pd.read_csv('train.csv')

# frac - specifies 80%
# random_state - it saves the current state of the split. Used for reproducability
# Spliting data int Train-Validation[80-20]
train = data.sample(frac = 0.8, random_state = 200)
validation = data.drop(train.index)
categorical_train_data = train.iloc[:, 5:10]
categorical_validation_data = validation.iloc[:, 5:10]

In [6]:
def calc_entropy(table):
    target = table.keys()[-1] # target -> Label's column
    entropy = 0
    values = table[target].unique() # Finds the unique values in target variable, i.e. [0, 1]
    for value in values:
        '''
            total count of 0's         total count of 1's
            -------------------   ,    ---------------------  = frac
            total numbers of rows      total number of rows
        '''
        frac = table[target].value_counts()[value]/len(table[target])
        if frac == 0:
            return 0
        entropy += -frac*np.log2(frac)
    return(entropy) # returns entropy of whole dataset
print(calc_entropy(categorical_train_data))

0.7986105014037017

In [4]:
def calc_info_attribute(table, attribute):
    target = table.keys()[-1]
    variables = table[attribute].unique() # get unique variables in specified attribute
    target_variables = table[target].unique() # get unique in target, i.e. [0, 1]
    info = 0
    for v in variables:
        entropy = 0
        for target_v in target_variables:
            n = len(table[attribute][table[attribute] == v][table[target] == target_v])
            d = len(table[attribute][table[attribute] == v])
            frac1 = n/(d + np.finfo(float).eps) # eps - smallest representable number such that 1.0 + eps != 1.0
            if frac1 == 0:
                entropy += 0
            else:
                entropy += -frac1 * np.log2(frac1)
        frac2 = d/len(table)
        info += -frac2 * entropy
    return abs(info)

In [5]:
def winner_attribute(table, attribute_list):
    info_gain = []
#     print(attribute_list)
    if len(attribute_list) == 1:
        return attribute_list[0]
    for attribute in attribute_list:
        info_gain.append(calc_entropy(table) - calc_info_attribute(table, attribute))
    return attribute_list[np.argmax(info_gain)]

In [6]:
def build_tree(table, prev_table, attribute_list, tree = None):
    if len(table['left'].unique()) <= 1:
        return {'leaf' : table['left'].unique()[0]}
    elif len(table) == 0:
        return {'leaf': np.unique(table['left'])[np.argmax(np.unique(table['left'], return_counts = True)[1])]}
    elif len(attribute_list) == 0:
        return {'leaf': np.unique(table['left'])[np.argmax(np.unique(table['left'], return_counts = True)[1])]}
    node = winner_attribute(table, attribute_list)
    attribute_list.remove(node)
    if tree is None:
        tree = {}
        tree[node] = {}
    for v in table[node].unique():
        mod_table = table.where(table[node] == v).dropna()
        tree[node][v] = build_tree(mod_table, table, attribute_list[:])
    return tree

t = build_tree(categorical_train_data, categorical_train_data, ['Work_accident', 'promotion_last_5years', 'sales', 'salary'])
pprint.pprint(t)

{'salary': {'high': {'sales': {'IT': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                        1.0: {'leaf': 0.0}}},
                               'RandD': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                           1.0: {'leaf': 0.0}}},
                                                           1.0: {'leaf': 0.0}}},
                               'accounting': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                1.0: {'leaf': 0.0}}},
                                                                1.0: {'leaf': 0.0}}},
                               'hr': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                        1.0: {'leaf': 0.0}}},
                               'management': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                1.0: {'leaf': 0.0}}},
                                                                1.0: {'leaf': 0.0}}},
                               'marketing': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                               1.0: {'leaf': 0.0}}},
                                                               1.0: {'leaf': 0.0}}},
                               'product_mng': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                                 1.0: {'leaf': 0.0}}},
                               'sales': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                           1.0: {'leaf': 0.0}}},
                                                           1.0: {'leaf': 0.0}}},
                               'support': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                             1.0: {'leaf': 0.0}}},
                               'technical': {'Work_accident': {0.0: {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                               1.0: {'leaf': 0.0}}}}},
            'low': {'Work_accident': {0.0: {'sales': {'IT': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                       1.0: {'leaf': 1.0}}},
                                                      'RandD': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 0.0}}},
                                                      'accounting': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                               1.0: {'leaf': 0.0}}},
                                                      'hr': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                       1.0: {'leaf': 0.0}}},
                                                      'management': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                               1.0: {'leaf': 1.0}}},
                                                      'marketing': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                              1.0: {'leaf': 0.0}}},
                                                      'product_mng': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'sales': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 0.0}}},
                                                      'support': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                            1.0: {'leaf': 0.0}}},
                                                      'technical': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                              1.0: {'leaf': 0.0}}}}},
                                      1.0: {'sales': {'IT': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'RandD': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 0.0}}},
                                                      'accounting': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'hr': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'management': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'marketing': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                              1.0: {'leaf': 0.0}}},
                                                      'product_mng': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'sales': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 0.0}}},
                                                      'support': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                      'technical': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                              1.0: {'leaf': 0.0}}}}}}},
            'medium': {'Work_accident': {0.0: {'sales': {'IT': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 1.0}}},
                                                         'RandD': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                             1.0: {'leaf': 0.0}}},
                                                         'accounting': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                  1.0: {'leaf': 0.0}}},
                                                         'hr': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 0.0}}},
                                                         'management': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                  1.0: {'leaf': 0.0}}},
                                                         'marketing': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                 1.0: {'leaf': 0.0}}},
                                                         'product_mng': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                         'sales': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                             1.0: {'leaf': 0.0}}},
                                                         'support': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                               1.0: {'leaf': 0.0}}},
                                                         'technical': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                 1.0: {'leaf': 0.0}}}}},
                                         1.0: {'sales': {'IT': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                         'RandD': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                             1.0: {'leaf': 0.0}}},
                                                         'accounting': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                         'hr': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                          1.0: {'leaf': 0.0}}},
                                                         'management': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                         'marketing': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                         'product_mng': {'promotion_last_5years': {0.0: {'leaf': 0.0}}},
                                                         'sales': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                             1.0: {'leaf': 0.0}}},
                                                         'support': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                               1.0: {'leaf': 0.0}}},
                                                         'technical': {'promotion_last_5years': {0.0: {'leaf': 0.0},
                                                                                                 1.0: {'leaf': 0.0}}}}}}}}}

In [7]:
def pred(query, tree):
    try:
        if list(tree.keys())[0] == 'leaf':
            return tree['leaf']
        val = query[list(tree.keys())[0]]
        return pred(query, tree[list(tree.keys())[0]][val])
    except:
        return 0

In [8]:
predicted = []
def prediction(tree, data):
    for index, row in data.iterrows():
        predicted.append(pred(row, tree))
prediction(t, categorical_validation_data)

In [9]:
def calc_metrics(predictions, actual):
    tp, tn, fp, fn = 0, 0, 0, 0
    for i in range(len(actual)):
        if actual[i] == predictions[i] and actual[i] == 1:
            tp += 1
        elif actual[i] == predictions[i] and actual[i] == 0:
            tn += 1
        elif actual[i] != predictions[i] and actual[i] == 0:
            fp += 1
        else:
            fn += 1
    accuracy = (tn + tp)/(tn + tp + fp + fn)
    precision = tp/(tp + fp)
    recall = tp/(tp + fn)
    a = 1/precision
    b = 1/recall
    f1 = 2/(a + b)
    print('Accuracy - ', accuracy)
    print('Precision - ', precision)
    print('Recall - ', recall)
    print('F1 Score - ', f1)
    print('True Positive - ', tp)
    print('True Negative - ', tn)
    print('False Positive - ', fp)
    print('False Negative - ', fn)

target = categorical_validation_data['left'].tolist()

calc_metrics(predicted, target)

Accuracy -  0.7789145907473309
Precision -  1.0
Recall -  0.002008032128514056
F1 Score -  0.004008016032064128
True Positive -  1
True Negative -  1750
False Positive -  0
False Negative -  497

In [10]:
def make_bins(data):
    category_dict = {}
    label_dict = {}
    average_dict = {}
    for attribute in ['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company']:
        max_counts = []
        data.sort_values(attribute, inplace = True)
        
        for val in data[attribute].unique():
            t=data[data[attribute]==val]
            max_counts.append([val, np.unique(t['left'])[np.argmax(np.unique(t['left'], return_counts = True)[1])]])
        category_dict[attribute] = max_counts
#     print(category_dict)
    
    for key in category_dict.keys():
        label = 0
        label_list = []
        average_list = []
        for i in range(len(category_dict[key])-1):
            if category_dict[key][i][1] == category_dict[key][i+1][1]:
                label_list.append(label)
            else:
                print()
                label += 1
                label_list.append(label)
                average_list.append([(category_dict[key][i][0] + category_dict[key][i+1][0])/2, label])
        average_dict[key] = average_list
        label_dict[key] = label_list
#         break
#     print(label_dict)
    return average_dict
make_bins(train)

{'average_montly_hours': [[126.5, 1],
  [132.5, 2],
  [274.5, 3],
  [279.5, 4],
  [280.5, 5],
  [282.5, 6],
  [287.5, 7]],
 'last_evaluation': [[0.445, 1], [0.475, 2], [0.995, 3]],
 'number_project': [[2.5, 1], [5.5, 2]],
 'satisfaction_level': [[0.11499999999999999, 1],
  [0.355, 2],
  [0.46499999999999997, 3]],
 'time_spend_company': [[4.5, 1], [5.5, 2]]}

In [11]:
def numerical_to_categorical(data):
    average_dict = make_bins(data)
    print (average_dict)
    for key in average_dict.keys():
        data.sort_values(key, inplace = True)
        new_column = []
        i = 0
        for index, row in data.iterrows():
            if row[key] <= average_dict[key][i][0]:
                new_column.append(average_dict[key][i][1]-1)
            elif i < len(average_dict[key])-1:
                i = i + 1
                new_column.append(average_dict[key][i][1]-1)
            else:
                new_column.append(average_dict[key][i][1])
        data.drop(key, axis = 1)
        column = pd.Series(new_column)
        data[key] = column.values
    return data, average_dict

In [12]:
def numerical_to_categorical_validation(data, average_dict):
    for key in average_dict.keys():
        data.sort_values(key, inplace = True)
        new_column = []
        i = 0
        for index, row in data.iterrows():
            if row[key] <= average_dict[key][i][0]:
                new_column.append(average_dict[key][i][1]-1)
            elif i < len(average_dict[key])-1:
                i = i + 1
                new_column.append(average_dict[key][i][1]-1)
            else:
                new_column.append(average_dict[key][i][1])
        data.drop(key, axis = 1)
        column = pd.Series(new_column)
        data[key] = column.values
    return data

In [13]:
discrete_train_data, average_dict = numerical_to_categorical(train)
print(discrete_train_data)
tree = build_tree(discrete_train_data, discrete_train_data, ['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company', 'Work_accident', 'promotion_last_5years', 'sales', 'salary'])
# pprint.pprint(t)

{'last_evaluation': [[0.445, 1], [0.475, 2], [0.995, 3]], 'satisfaction_level': [[0.11499999999999999, 1], [0.355, 2], [0.46499999999999997, 3]], 'number_project': [[2.5, 1], [5.5, 2]], 'average_montly_hours': [[126.5, 1], [132.5, 2], [274.5, 3], [279.5, 4], [280.5, 5], [282.5, 6], [287.5, 7]], 'time_spend_company': [[4.5, 1], [5.5, 2]]}
       satisfaction_level  last_evaluation  number_project  \
7482                    3                2               1
9300                    3                2               1
8585                    3                2               1
5279                    3                1               1
1506                    3                2               1
1531                    3                2               0
4216                    3                2               1
11195                   3                2               1
9598                    3                2               1
1282                    3                2               1
6654                    3                3               1
1112                    3                2               1
2605                    3                2               1
4101                    3                2               1
5740                    3                2               1
8901                    3                2               1
5063                    3                2               1
7790                    3                2               0
7840                    3                2               1
7716                    3                2               0
4249                    3                2               0
7441                    3                2               1
598                     3                2               1
6258                    3                2               1
3986                    3                2               1
10255                   3                2               1
8564                    3                2               1
9451                    3                2               1
10111                   3                2               1
15                      3                2               1
...                   ...              ...             ...
6382                    3                2               1
1503                    3                2               1
8508                    3                2               1
338                     3                2               1
1398                    3                2               1
2921                    3                2               1
4091                    1                2               1
8731                    3                3               1
1373                    3                3               1
5636                    1                2               1
1594                    3                2               1
383                     3                2               1
393                     3                2               1
5233                    3                2               1
9148                    3                2               1
4081                    3                2               1
1717                    3                2               0
8336                    3                2               1
7176                    2                2               2
10135                   3                2               1
1664                    3                2               1
6342                    1                2               1
1623                    1                2               2
9242                    1                2               1
6866                    3                2               1
10180                   3                2               1
8224                    3                2               1
8581                    3                2               1
3444                    3                2               1
6628                    3                2               2

       average_montly_hours  time_spend_company  Work_accident  \
7482                      2                   0              1
9300                      2                   0              0
8585                      2                   0              0
5279                      2                   0              0
1506                      2                   0              1
1531                      2                   0              0
4216                      2                   0              1
11195                     2                   0              0
9598                      2                   0              0
1282                      2                   0              0
6654                      2                   0              0
1112                      2                   0              0
2605                      2                   0              0
4101                      2                   0              0
5740                      2                   0              0
8901                      2                   0              0
5063                      2                   0              0
7790                      2                   0              0
7840                      2                   0              1
7716                      2                   0              0
4249                      2                   0              0
7441                      2                   0              0
598                       2                   0              1
6258                      2                   0              0
3986                      2                   0              0
10255                     2                   0              0
8564                      2                   0              0
9451                      2                   0              0
10111                     2                   0              0
15                        2                   0              0
...                     ...                 ...            ...
6382                      2                   2              0
1503                      2                   2              0
8508                      2                   2              0
338                       2                   2              0
1398                      2                   2              1
2921                      2                   2              1
4091                      2                   2              0
8731                      2                   2              0
1373                      2                   2              0
5636                      2                   2              0
1594                      2                   2              1
383                       2                   2              0
393                       0                   2              1
5233                      2                   2              1
9148                      1                   2              0
4081                      2                   2              1
1717                      2                   2              0
8336                      2                   2              1
7176                      2                   2              0
10135                     2                   2              1
1664                      0                   2              1
6342                      0                   2              0
1623                      2                   2              1
9242                      0                   2              0
6866                      2                   2              0
10180                     2                   2              0
8224                      2                   2              0
8581                      2                   2              0
3444                      2                   2              0
6628                      2                   2              0

       promotion_last_5years        sales  salary  left
7482                       0           hr    high     0
9300                       0    technical     low     0
8585                       0        sales     low     0
5279                       0  product_mng  medium     0
1506                       0           IT  medium     0
1531                       0        sales  medium     0
4216                       0           IT  medium     0
11195                      0        sales  medium     0
9598                       0    technical     low     0
1282                       0   management    high     0
6654                       0        sales     low     0
1112                       0        sales  medium     0
2605                       0    technical  medium     0
4101                       0      support  medium     0
5740                       0           IT     low     0
8901                       0        sales    high     0
5063                       0        sales    high     0
7790                       0    technical  medium     0
7840                       0    marketing  medium     0
7716                       0    technical  medium     0
4249                       0           IT     low     0
7441                       0        sales  medium     0
598                        0  product_mng    high     0
6258                       0    technical     low     0
3986                       0           hr     low     0
10255                      0    technical  medium     0
8564                       0      support  medium     0
9451                       0   management     low     0
10111                      0      support     low     0
15                         0    technical     low     0
...                      ...          ...     ...   ...
6382                       0      support     low     0
1503                       0   management    high     0
8508                       0           IT     low     0
338                        0    technical     low     0
1398                       0        sales  medium     0
2921                       0        sales  medium     0
4091                       0   management    high     0
8731                       0    marketing  medium     0
1373                       0    marketing  medium     0
5636                       0   management    high     0
1594                       1   management    high     0
383                        0           IT  medium     0
393                        0      support     low     0
5233                       0   management  medium     0
9148                       0        sales    high     0
4081                       0   management    high     0
1717                       0   management    high     0
8336                       0   management    high     0
7176                       0    marketing  medium     0
10135                      0   management    high     0
1664                       0      support     low     0
6342                       0        sales  medium     0
1623                       0        sales  medium     0
9242                       0        sales  medium     0
6866                       0   management    high     0
10180                      0        sales     low     0
8224                       0   management    high     0
8581                       0        sales     low     0
3444                       0  product_mng    high     0
6628                       0        sales     low     0

[8990 rows x 10 columns]

In [14]:
discrete_validation_data = numerical_to_categorical_validation(validation, average_dict)
print(discrete_validation_data)
predicted = []
prediction(tree, discrete_validation_data)
target = validation['left'].tolist()
calc_metrics(predicted, target)

       satisfaction_level  last_evaluation  number_project  \
3286                    3                2               1
6924                    3                2               0
9029                    3                2               1
6847                    3                2               1
8769                    3                2               1
1790                    3                2               1
9758                    3                2               0
8919                    3                2               1
2529                    3                2               0
5381                    3                2               1
10364                   3                2               1
10586                   1                2               1
659                     3                2               1
7095                    3                2               1
4879                    3                1               2
2748                    3                2               1
3895                    3                2               1
5659                    3                2               1
2330                    3                2               1
4510                    3                2               1
734                     3                2               1
10104                   3                2               1
9249                    3                2               1
211                     3                2               1
8394                    3                2               1
5553                    3                2               0
2011                    3                2               1
10128                   3                2               1
2210                    3                2               0
7182                    3                2               1
...                   ...              ...             ...
5640                    1                2               1
3839                    1                2               1
2505                    3                2               1
11079                   3                0               1
4136                    3                2               1
9941                    3                2               1
10522                   3                2               1
10808                   3                2               1
5386                    3                2               1
9293                    3                2               1
5002                    3                2               1
7301                    1                2               0
1001                    3                2               1
9457                    3                2               1
9846                    3                2               1
8567                    3                2               0
784                     3                2               1
4050                    3                2               1
10893                   3                2               1
10065                   3                2               1
4557                    3                2               1
8823                    3                2               1
10387                   3                2               1
9253                    3                2               1
6051                    3                2               1
11021                   3                2               1
178                     3                3               1
2894                    3                2               1
5084                    3                2               1
8514                    3                2               1

       average_montly_hours  time_spend_company  Work_accident  \
3286                      2                   0              0
6924                      2                   0              0
9029                      2                   0              0
6847                      2                   0              1
8769                      2                   0              0
1790                      2                   0              0
9758                      2                   0              0
8919                      2                   0              0
2529                      2                   0              0
5381                      2                   0              1
10364                     2                   0              1
10586                     2                   0              0
659                       2                   0              0
7095                      2                   0              0
4879                      2                   0              0
2748                      2                   0              0
3895                      2                   0              0
5659                      2                   0              0
2330                      2                   0              1
4510                      2                   0              0
734                       2                   0              0
10104                     2                   0              0
9249                      2                   0              0
211                       2                   0              0
8394                      2                   0              0
5553                      2                   0              0
2011                      2                   0              0
10128                     2                   0              1
2210                      2                   0              1
7182                      2                   0              0
...                     ...                 ...            ...
5640                      1                   2              0
3839                      2                   2              0
2505                      2                   2              1
11079                     2                   2              0
4136                      2                   2              1
9941                      2                   2              0
10522                     2                   2              0
10808                     2                   2              0
5386                      2                   2              0
9293                      2                   2              0
5002                      2                   2              0
7301                      2                   2              0
1001                      2                   2              0
9457                      2                   2              0
9846                      2                   2              0
8567                      0                   2              1
784                       2                   2              0
4050                      2                   2              1
10893                     2                   2              0
10065                     2                   2              0
4557                      2                   2              1
8823                      2                   2              0
10387                     2                   2              1
9253                      2                   2              1
6051                      2                   2              1
11021                     2                   2              0
178                       2                   2              0
2894                      2                   2              0
5084                      2                   2              0
8514                      2                   2              1

       promotion_last_5years        sales  salary  left
3286                       0      support     low     0
6924                       0    technical     low     0
9029                       0        sales  medium     0
6847                       0        sales     low     0
8769                       0           IT     low     0
1790                       0        sales  medium     0
9758                       0      support     low     0
8919                       0   accounting  medium     0
2529                       0    marketing     low     0
5381                       0    technical     low     0
10364                      0        sales     low     0
10586                      0      support  medium     0
659                        0        sales  medium     0
7095                       0      support  medium     0
4879                       0   management  medium     1
2748                       0    marketing  medium     0
3895                       0  product_mng     low     0
5659                       0      support     low     0
2330                       0  product_mng  medium     0
4510                       0    marketing  medium     0
734                        0        sales    high     0
10104                      0        sales     low     0
9249                       0      support  medium     0
211                        0    technical     low     0
8394                       0        sales     low     0
5553                       0  product_mng  medium     0
2011                       0        sales     low     0
10128                      0        sales     low     0
2210                       0    marketing  medium     0
7182                       0      support  medium     0
...                      ...          ...     ...   ...
5640                       0        sales     low     0
3839                       0        sales  medium     0
2505                       0        sales  medium     0
11079                      0        sales     low     0
4136                       0        sales  medium     0
9941                       0           IT     low     0
10522                      0  product_mng  medium     0
10808                      0   management    high     0
5386                       0  product_mng    high     0
9293                       0   management    high     0
5002                       0        sales  medium     0
7301                       0        sales    high     0
1001                       0           IT  medium     0
9457                       0    technical  medium     0
9846                       0        sales  medium     0
8567                       0      support     low     0
784                        0        sales     low     0
4050                       0    marketing     low     0
10893                      0        sales  medium     0
10065                      0           IT  medium     0
4557                       0   management     low     0
8823                       0      support     low     0
10387                      0   management  medium     0
9253                       0   management  medium     0
6051                       1   management    high     0
11021                      0   management    high     0
178                        0    technical     low     0
2894                       0   accounting  medium     0
5084                       0        sales  medium     0
8514                       0      support  medium     0

[2248 rows x 10 columns]

Accuracy -  0.958185053380783
Precision -  0.8992094861660079
Recall -  0.9136546184738956
F1 Score -  0.9063745019920318
True Positive -  455
True Negative -  1699
False Positive -  51
False Negative -  43